body {
  background-color: #f0ffff;
  color: #252422;
  font-family: Helvetica, sans-serif;
}
main{
  width: 900px;
  margin:0px auto;
}

h1 {
  font-weight: 300;
  color: #777;
}
.result-field {
  width: 500px;
  font-size: 14px;
  margin: 20px 0px;
  display: block;
}
button {
  margin-left: 20px;
  padding: 2px;
  width: 100px;
  border-radius: 0px;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: left;
}
button:hover {
  background-color: #f0ffff;
}
#message{
  color:darkgreen;
}
